body {
    color: #ffffff;
    background-color: #111111;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

h1 {
    font-size: 100px;
    font-family: "Dracula";
}

@font-face {
    font-family: "Dracula";
    src:
        url("/Imagens_Fontes/Dracula-Condensed.ttf") format("woff2"),
        url("/Imagens_Fontes/Dracula.ttf") format("woff");
}

.Logo {
    font-family: "Dracula";
        display: flex;
        justify-content: center;
        align-items: center;
}
header ul li a {
    text-decoration: none;
    margin-right: 15px;
    color: #ffffff;
}

header ul {
    list-style: none;
    padding-left: 0;
}

header ul li {
    display: inline;
    
}

.Links{
    display: flex;
    justify-content: center;
    align-items: center;
}

header, main, footer {
    width: 80%;
    /*border: dotted yellow;*/
    margin: 0 auto; /*centralizar caixas na pagina*/
}

a{
    text-decoration: none;
    margin-right: 15px;
    color: #ffffff;
}

.Logo{
    width: 100%;
    height: 100px;
}

main{
    width: 90%;
}
.Principal{
    
    background: #202020;
    height: 100%;
    padding: 3%, 0 ,3% ,0;

    
}